<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HMAViews.Properties.Settings.HermesBarConnectionString"
            connectionString="Data Source=GIULIANOCOSTA\SQLEXPRESS;Initial Catalog=HermesBar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>