@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oops.</h1>
        <h2>Ocorreu um erro ao efetuar o processamento de sua requisição.</h2>
        @Html.ActionLink("Clique aqui para voltar", "Index", "Home")
    </hgroup>
</body>
</html>